* {
  font-family: "Comfortaa";
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

body {
  background-color: wheat;
}

#connectionId {
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#remoteVideo {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  /* width: auto;
  height: auto; */
  max-height: 80%;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.local-video-container {
  transition: all 0.5s;
  z-index: 100;
  position: relative;
  width: 400px;
}

#screenShareBtn {
  padding: 4px 10px 3px 10px;
  border-radius: 5px;
  background-color: #cc343b;
}

.local-video-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hideVideo img {
  margin-top: 10px;
  max-width: 60px;
  opacity: 70%;
}

#localVideo {
  border-radius: 10px;
  overflow: hidden;
  transform: scale(-1, 1); /* flip video horizontally */
}

.flip-horizontal {
  transform: scale(1, 1) !important; /* reverse video flip */
}

.hide-video {
  display: "none";
  visibility: hidden;
}

button {
  background: none;
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 0.5rem;
}

@keyframes beat {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.88);
  }
  100% {
    transform: scale(0.8);
  }
}

#copyShareLinkBtn {
  width: 350px;
  height: 350px;
  animation: beat 2s ease-in-out 0.3s infinite backwards;
}

#copyShareLinkBtn p {
  font-weight: bolder;
  position: relative;
  top: 100px;
  z-index: 100;
  cursor: pointer;
  font-size: 1rem;
}

.heart-shape {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f47174;
}
.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 150px;
  height: 150px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #f47174;
}
.heart-shape:before {
  bottom: 0px;
  left: -80px;
}
.heart-shape:after {
  top: -80px;
  right: 0px;
}
